@charset "utf-8";
@media all{
    /*Definindo as Variáveis*/
    :root{
        --branco: #ffffff;
        --cinza: #464646;
    }

    /*Configurações Gerais*/
    *{
        margin: 0px;
        padding: 0px; 
        box-sizing: border-box;
    }

    /*Configurações do Principal*/
    #calculadora{
        background-color: var(--cinza);
        width: 270px;
        text-align: center;
        margin: 60px auto auto auto;
        padding: 30px;
        border-radius: 20px;
    }
    #tela{
        width: 210px;
        height: 50px;
        background-color: var(--branco);
        color: var(--cinza);
        border: none;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    #tela:hover{
        cursor: text;
    }
    .botoes{
        display: flex;
        justify-content: center;
    }
    button{
        width: 57.5px;
        height: 50px;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--branco);
        color: var(--cinza);
        border: 1px solid var(--cinza);
    }
    button#resultado{
        width: 172.5px;
    }
    button:hover{
        cursor: pointer;
        background-color: #e7e7e7;
        transition: 0.1s ease;
    }
}
@media screen and (max-width: 320px){
    h1{
        margin-top: 20px;
        font-size: 1em;
    }
    #calculadora{
        margin-top: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    #calculadora{
        margin-top: 30px;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    #calculadora{
        margin-top: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #calculadora{
        margin-top: 45px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
    #calculadora{
        margin-top: 50px;
    }
}
